.skip__link {
  position: absolute;
  top: -100%;
  padding: 1rem;
  display: block;
  text-decoration: none;
  padding: 0.8rem 1.2rem;
  background-color: var(--white);
  border-radius: 20px;
  color: var(--dark-blue);
  text-transform: uppercase;
  font-family: "Fraunces", sans-serif;
  font-size: 0.9rem;
}
.skip__link:focus {
  top: 5rem;
  left: 2rem;
  outline-offset: 0.5rem;
  outline: 2px dashed var(--white);
}
