.testimonials {
  padding: 2rem 0;
  text-align: center;
}
.cards {
  display: grid;
  place-items: center;
  max-width: 1200px;
  margin-inline: auto;
}
.heading {
  color: var(--grayish-blue);
  font-family: var(--fraunces);
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .testimonials {
    padding: 4rem 0;
  }
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
